@model TournamentManager.Models.TournamentModel
@using TournamentManager.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script defer src="~/Scripts/ShroomText.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/ShroomText.css" />
    <link rel="stylesheet" href="~/Content/DetailsStlye.css" />
    <title>@Model.Name</title>
</head>
<body>
    <div class="page-header">
        <div class="name-holder">
            <h1 class="shroom-text">@Model.Name</h1>
        </div>
        <p>
            @Html.ActionLink("Back", "Index")
        </p>
    </div>
    <hr />
    <h2>Paralell matches: @Model.ParalellMatches</h2>
    <hr />
    @{
        List<TeamModel> advancingTeams = new List<TeamModel>();
        List<TeamModel> defeatedTeams = new List<TeamModel>();

        foreach (var team in Model.Teams)
        {
            if (Model.IsTeamAdvancing(team))
            {
                advancingTeams.Add(team);
            }
            else
            {
                defeatedTeams.Add(team);
            }
        }
    }
    <h2>Teams:</h2>
    <table>
        <thead>
            <tr>
                <th class="advancing-teams"><h3>Advancing teams</h3></thclass="advancing-teams">
                <th class="defeated-teams"><h3>Defeated teams</h3></th>
            </tr>
        </thead>
        <tbody>
            @{
                int length;
                if (advancingTeams.Count >= defeatedTeams.Count)
                {
                    length = advancingTeams.Count;
                }
                else
                {
                    length = defeatedTeams.Count;
                }

                for (int i = 0; i < length; i++)
                {
                    <tr>
                        @{
                            if (i < advancingTeams.Count)
                            {
                                <td class="advancing-teams">@advancingTeams[i]</td>
                            }
                            else
                            {
                                <td> </td>
                            }
                            if (i < defeatedTeams.Count)
                            {
                                <td class="defeated-teams">@defeatedTeams[i]</td>
                            }
                            else
                            {
                                <td> </td>
                            }
                        }
                    </tr>
                }
            }

        </tbody>
    </table>
    <hr />
    <div>
        @if (Model.CurrentRound.LastRound && Model.CurrentRound.Matches.First().winner != null)
        {
            <h1 class="advanced-team">@Model.CurrentRound.Matches.First().winner.Name won the tournament!</h1>
        }
        else
        {
            <h2>Matches: </h2>
            foreach (TournamentManager.Models.MatchModel match in Model.CurrentMatches)
            {
                <div class="match-card">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h3 class="shroom-text match-card-title"> @match.team1.Name VS @match.team2.Name </h3>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @match.team1.Name score:
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line valid" data-val="true" data-val-required="A következő mező megadása kötelező: Team 1 Score." name="Team1Score" aria-describedby="Team1Score-error" aria-invalid="false" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                @match.team2.Name score:
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line valid" data-val="true" data-val-required="A következő mező megadása kötelező: Team 2 Score." name="Team2Score" aria-describedby="Team2Score-error" aria-invalid="false" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="hidden" id="MatchId" name="MatchId" value="@match.Id">
                                    <input type="submit" value="Save match" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }

    </div>

    <div class="footer">
        <strong>Tournament manager</strong> by Jonatán Uri, @DateTime.Now.Year
    </div>
</body>
</html>
